.job-details-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 34px;
    width: 100%;
    min-height: 89vh;
  }
  
  .job-card-container {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #272727;
    text-decoration: none;
    padding: 24px;
    border-radius: 8px;
    width: 90%;
  }
  
  .job-icons-star {
    color: #fbbf24;
    margin-right: 4px;
    margin-right: 4px;
  }
  
  .top-section {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .company-logo {
    width: 45px;
    height: 50px;
  }
  .name-rating-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
  }
  .company-name {
    font-family: roboto;
    font-size: 18px;
    font-weight: 500;
    color: white;
    margin: 0px;
  }
  .rating-container {
    display: flex;
    align-items: center;
    margin: 0px;
    margin-top: 5px;
  }
  
  .job-icons {
    color: white;
    margin-right: 4px;
    margin-left: 4px;
  }
  .rating {
    font-family: roboto;
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin: 0px;
  }
  .middle-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  .left-side-part {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .location-container,
  .employment-type-container {
    display: flex;
    align-items: center;
    margin-right: 12px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .location,
  .employment-type {
    font-family: roboto;
    font-size: 12px;
    color: white;
    margin: 0px;
    margin-left: 4px;
  }
  .salary {
    font-family: roboto;
    font-size: 14px;
    color: white;
    margin: 0px;
  }
  .bottom-section {
    margin-top: 0px;
    padding-top: 0px;
  }
  .hr-line {
    border: 1px solid white;
    margin-top: 0px;
    margin-top: 6px;
  }
  .side-name-description,
  .side-name-details,
  .side-name-life-at-company {
    font-family: roboto;
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin-bottom: 4px;
  }
  .side-heading-url {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .company-url {
    display: flex;
    align-items: center;
  }
  .visit {
    font-family: roboto;
    font-size: 12px;
    color: #b6c5ff;
    margin: 0px;
    margin-right: 8px;
  }
  a {
    text-decoration: none;
  }
  .icon-link {
    color: #b6c5ff;
    width: 16px;
    height: 16px;
  }
  
  .description-img {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .skill-container {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0px;
  }
  .skill-list-item {
    display: flex;
    align-items: center;
    margin-right: 48px;
    margin-bottom: 20px;
    width: 70px;
  }
  .icon-skill {
    width: 40px;
    height: 40px;
    margin-right: 8px;
  }
  .skill-name {
    font-family: roboto;
    font-size: 12px;
    font-weight: 500;
    color: #f8fafc;
  }
  .description {
    font-family: roboto;
    font-size: 11px;
    color: #f8fafc;
    line-height: 16px;
    margin-bottom: 12px;
    margin-top: 6px;
  }
  .lift-at-company-description {
    font-family: roboto;
    font-size: 11px;
    color: #f8fafc;
    line-height: 16px;
    margin-top: 2px;
    width: 60%;
    margin-right: 18px;
  }
  .life-at-company-img {
    width: 35%;
    height: 180px;
  }
  .similar-job-container-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 90%;
  }
  
  .failure-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .failure-header {
    font-family: roboto;
    font-size: 26px;
    font-weight: 600;
    color: #ffffff;
    margin-bottom: 0px;
  }
  .failure-para {
    font-family: roboto;
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
  }
  .retry-btn {
    background-color: #4f46e5;
    border: none;
    outline: none;
    cursor: pointer;
    font-family: roboto;
    font-weight: 500;
    font-size: 12px;
    border-radius: 4px;
    color: #ffffff;
    width: 75px;
    height: 32px;
  }
  
  .loader-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media (max-width: 680px) {
    .left-side-part {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 35px;
      align-items: flex-start;
    }
    .icon-name-container {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
    }
    .job-icons {
      margin-left: 0px;
      margin-right: 4px;
    }
  }
  